@main(title = "Home") {
    <script type="text/javascript" src="@routes.Assets.at("app/auctions.js")"></script>
} {
    <section id="page-title">
        <div class="container clearfix">
            <h1>Auction</h1>
            <span>Start Buying your Favourite Crafts</span>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
            </ol>
        </div>
    </section>
} {
    <!-- Content
            ============================================= -->
    <section id="content" ng-controller="Auction">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Shop ============================================= -->
                <div id="shop" class="clearfix">
                    <div class="product clearfix" ng-repeat="obj in data">
                        <div class="product-image">
                            <a href="#"><img ng-src="@routes.Assets.at("upload")/{{ obj.pic1 }}" alt="Checked Short Dress"></a>
                            <a href="#"><img ng-src="@routes.Assets.at("upload")/{{ obj.pic2 }}" alt="Checked Short Dress"></a>
                            <div class="product-overlay">
                                <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Bid</span></a>
                                <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> Quick View</span></a>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">{{ obj.name }}</a></h3></div>
                            <div class="product-price"><ins>${{ obj.price}}</ins></div>
                            <div class="product-rating">
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star3"></i>
                                <i class="icon-star-half-full"></i>
                            </div>
                        </div>
                    </div>
                </div><!-- #shop end -->
            </div>
        </div>
    </section><!-- #content end -->

}